* {box-sizing:border-box}

body {
  background-color: lightcyan;
  background-image: url("../Max/img/background.jpg");
}

.upClass {
  text-align: center;
}

#photo {
  position: relative;
  width: 70%;
  border: navy;
  border-radius: 10px;
}

.about_photo {
  text-align: center;
  color: indigo;
}