* {
  box-sizing: border-box;
}


body {
  font-family: Georgia;
  font-size: 16px;
  color:firebrick;
  margin: 0 auto;   /* center content */
  max-width: 1000px; /* limit width */
  line-height: 1.5;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: gainsboro;
  background-image: url("../img/background/background1.jpg");
  background-size: 100%;
}

body > div#header{
margin-bottom: 32px;
margin-left: auto;
margin-right: auto;
width: 25em;
text-align: center;
}

body > div#footer{
margin-top: 64px;
}

div#header > h1{
    font-size: 36px;
    text-align: center;
}

div#header > h3{
    font-size: 20px;
    text-align: center;
}

div#header > p{
  text-align: center;
}

div#main > h1{
  font-size: 36px;
  text-align: left
}

div#main > h2{
  font-size: 32px;
  text-align: left;
}

div#main > p{
  text-align: left;
  font-style: italic;
}
a{
  color: brown;
}
a:visited{
  color: darkgray;
}
a:active{
  color: crimson;
}
a:hover{
  color: darkorange;
  font-size: 18px;
}

a > img{
  height: 300px;
  width: 450px;
}
iframe{
  height: 300px;
  width: 450px;
}

div#footer > h3{
  text-align: center;
  font-size: 15px;
}

div#footer > p{
  text-align: center;
  font-size: 15px;
}

div#menu_navigator{
  text-align: center;
}

ul#navigator{
  color: green;
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
  padding-left: 0; /*убираем левый отступ, равный 40px*/
}

ul#navigator > li{
  display: inline;
  background-color: gainsboro;
  border: 2px solid rgba(139, 131, 131, 0.445);
  border-radius: 5px;
}

li > a {
  color: green;
}
