* {
  box-sizing: border-box;
}


body {
  font-family: Georgia;
  font-size: 16px;
  color: rgb(132, 40, 20);
  margin: 0 auto;   /* center content */
  max-width: 1500px; /* limit width */
  line-height: 1.5;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: gainsboro;
  background-image: url("../img/background/background1.jpg");
  font-weight: bold;
}

p {
  text-indent: 1em;
}

p#certificates {
  text-indent: 0;
}

h3.text-left {
  margin-left: 1.6em;
}

a > img{
 width: 27%;
 margin-left: 4%;
 margin-top: 2%;
}

a > img:hover {
  box-shadow: 8px 8px 8px gray;
  transition: box-shadow 1.5s ease-in;

}

iframe:hover {
  box-shadow: 8px 8px 8px gray;
  transition: box-shadow 1.5s ease-in;
}

#navigation-menu-list {
  width: 100%;
}

.navigation-item {
  width: 20%;
  font-size: 1.4em;
}

a.navigation-link {
  color: teal;
  text-decoration: none;
}

a.navigation-link:hover {
  text-transform: uppercase;
  text-decoration: none;
  color:blueviolet;
}

.div-section {
  border: 1px solid red;
  border-radius: 3px;
  box-shadow: 5px 5px 5px gray;
}

.info-p {
  margin: 1.6em;
}

.return-link {
  width: 100%;
}

a.go-to-menu {
  padding-left: 45%;
  color: teal;
  text-decoration: none;
}

body > div#header{
margin-bottom: 32px;
margin-left: auto;
margin-right: auto;
width: 25em;
text-align: center;
}

body > div#footer{
margin-top: 64px;
}

div#header > h1{
    font-size: 36px;
    text-align: center;
}

div#header > h3{
    font-size: 20px;
    text-align: center;
}

div#header > p{
  text-align: center;
}

div#main > h1{
  font-size: 36px;
  text-align: left
}

div#main > h2{
  font-size: 32px;
  text-align: left;
}

div#main > p{
  text-align: left;
  font-style: italic;
}

iframe{
  width: 27%;
  margin-left: 4%;
  margin-top: 2%;
  height: calc(100vw * 0.35);
}

div#footer > h3{
  text-align: center;
  font-size: 15px;
}

div#footer > p{
  text-align: center;
  font-size: 15px;
}

div#menu_navigator{
  text-align: center;
}

ul#navigator{
  color: green;
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
  padding-left: 0; /*убираем левый отступ, равный 40px*/
}

ul#navigator > li{
  display: inline;
  border: 2px solid rgba(139, 131, 131, 0.445);
  border-radius: 5px;
}

li > a {
  color: teal;
}

li > a:hover {
  text-decoration: none;
  color: blueviolet;
  font-size: 1em;
  text-transform: uppercase;
  transition: color 1.5s ease-in;
}

#hidden-image {
  visibility: hidden;
}


.repo-link {
  font-size: 1.4em;
  text-decoration: none;
  color: teal;
}

.repo-link:hover {
  text-decoration: none;
  color: blueviolet;
  text-transform: uppercase;
  transition: color 1.5s ease-in;
}

/* For different screen-size*/


@media (max-width: 1100px) {
  a > img{
    width: 40%;
    margin-left: 7%;
    margin-top: 2%;
   }

   iframe{
    width: 40%;
    margin-left: 7%;
    margin-top: 2%;
    height: calc(100vw * 0.5);
  }

}

@media (max-width: 760px) {
  .navigation-item {
    font-size: 1em;
  }

  ul#navigator > li {
    display:inline-block;
  }

  .repo-link {
    font-size: 1.2em;
  }

  a > img{
    width: 75%;
    margin-left: 10%;
    margin-top: 3%;
   }

   iframe{
    width: 75%;
    margin-left: 10%;
    margin-top: 2%;
    height: calc(100vw * 1.2);
  }

}

@media (max-width: 550px) {
  .navigation-item {
    font-size: 0.8em;
  }

  .repo-link {
    font-size: 1em;
  }
}

